@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>My Test Web App)</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my test app</h2>
        <p>
            In this test app we will worl with notes.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Show Guide</h2>
        <p>Here i l show you where i am learning it.</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutor) &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download my Project</h2>
        <p>You can download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                Go to GitHub &raquo;
            </a>
        </p>
    </div>
</div>
